<!DOCTYPE html>
<html>
<head>
    <title> Yo occupation </title>
    <style type="text/css">
        table {
            border-spacing: 5px;
        }
        th, td {
            text-align: middle;
        }
    </style>
</head>
<body>
    <h3>Da Orphans<br>SoftDev pd7<br>HW#05: ...and Now Enjoy Its Contents<br>2017-09-26</h3>
    <table border="1">
	<tr>
		<th>Job Class</th>
		<th>Percentage</th>
	</tr>
        {% for occupation in my_dict %}
	<tr>
        <td>{{ occupation }}</td>
        <td align="center">{{ my_dict[occupation][0] }}</td>
	</tr>
        {% endfor %}
    </table>
    <br><h4>Randomly selected occupation: {{ my_occ }} </h4>
    <h5>Find out more about this occupation <a href="{{ my_link }}">here</a></h5>
</body>
</html>
